/Appointment_details.class
/Edit_treat.class
/FileUploadDBServlet.class
/admin_login.class
/appoinment.class
/doc_login.class
/doctor_registration.class
/patient_registration.class
/treatment_details.class
/treatmentreg.class
